################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/week1_hw1/.vs/week1_hw1/v16/Server/sqlite3
